/* styles.css */

/* Resetting default styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://t3.ftcdn.net/jpg/04/19/14/40/240_F_419144043_mItO14r9ugaJJFcwCH2FNbv5deQ4rEGT.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}


#form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#exercises {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.exercise-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#exercises button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#exercises button:hover {
    background-color: #0056b3;
}

.timer-buttons {
    display: flex;
    align-items: center;
}

.timer-buttons button {
    margin-right: 10px;
}

#rest-timer {
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #555;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

#saved-workouts {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#saved-workouts h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

#saved-workouts-list {
    list-style: none;
    padding: 0;
}

#saved-workouts-list li {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

#saved-workouts-list li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}